{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{# <div class="container">
        <div class="card mb-12" style="margin-top: 70px">
                <div class="row g-0">
                        <div class="col-md-4">
                                <img src="{{ asset('uploads/images/'~product.image)}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                                <div class="card-body">
                                        <h5 class="card-title text-success">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                        <h2>{{ product.price }} EUR</h2>
                                        <a href="{{path('app_cart_new',{'id':product.id})}}" class="text-success text-decoration-none">add to card</a>

                                </div>
                        </div>
                </div>
        </div>
    </div>
</div> #}
<div class="container">
    <div class="card mb-12" style="margin-top: 70px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ asset('uploads/images/' ~ product.image)}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-success">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <h2>{{ product.price }} EUR</h2>
                    
                    <form action="{{ path('app_cart_new', {'id': product.id}) }}" method="POST">
                        <div class="mb-3">
                            <label for="size" class="form-label">Sélectionnez la taille :</label>
                            <select class="form-select" id="size" name="size" required>
                                <option value="">Choisir...</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Ajouter au panier</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
